@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    box-sizing: border-box;
    --whiteFilter: brightness(0) invert(1);
    font-size: 16px;
    --greenFilter: invert(87%) sepia(14%) saturate(789%) hue-rotate(42deg) brightness(101%) contrast(88%);
    --baseFont: 'Times New Roman', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    height: 100vh;
    display: grid;
    background-color: #35425A;
}

  /* * * * * */
/* Main layout */
  /* * * * * */

div#page {
    height: 100vh;
    display: grid;
    grid-template-columns: 260px minmax(1152px,1fr);
    grid-template-rows: 174px 1fr;
}

nav.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

header.page {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    padding: 16px;
    padding-left: 38px;
}

main.page {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}


   /* * * * * * */
/* Nav Bar layout */
  /* * * * * * */

nav.sidebar {
    background-color: #35425A;
    
    color: white;
    font-family: 'Lora', var(--baseFont);

    padding: 24px;

    position: relative;
}

nav.sidebar ul li img.icon {
    width: 24px;
    height: 24px;
    filter: var(--whiteFilter);
    margin-right: 18px;
}

nav.sidebar ul li img.icon.home {
    width: 26px;
    height: 26px;
    filter: var(--whiteFilter);
    margin-right: 18px;
}

nav.sidebar ul {
    margin: 36px 0;
}

nav.sidebar div.logo img.icon{
    width: 50px;
    height: 50px;
    margin-right: 18px;
    filter: var(--whiteFilter);
}

nav.sidebar div.logo{
    font-size: 1.8rem;

    filter: var(--whiteFilter);

    display: grid;
    grid-auto-flow: column;
    place-content: start;
    place-items: center;
}

nav.sidebar ul li {
    height: 34px;
    margin: 8px 0;

    font-size: 1.4rem;
}

nav.sidebar ul li a {
    display: grid;
    grid-auto-flow: column;
    place-content: start;
    place-items: center;
}

nav.sidebar ul li:hover {
    text-decoration: underline;
    font-size: 1.5rem;
    text-shadow: 1px 1px 8px white;
}

nav.sidebar ul li a{
    color: white;
    margin: 10px;
}

footer {
    position: absolute;
    bottom: 50px;
    left: 24px;

    width: 212px;
    display: grid;
    grid-template-columns: 1fr;
}
nav.sidebar footer ul.contact {
    height: auto;
    margin-top: auto;
    margin-bottom: 10px;
    

    display: grid;
    place-content: center;
    
}

nav.sidebar ul.contact img:hover {
    box-shadow: 1px 1px 10px white;
    border-radius: 50%;
}

  /* * * * * * * * */
/* Header Bar layout */
  /* * * * * * * * */

header.page {
    background-color: #823ab2;
    color: white;

    display: Grid;
    grid-template-rows: repeat(2, 1fr);
}

header.page section.top {
    grid-row: 1 / 2;

    display: grid;
    align-items: center;

    grid-template-columns: minmax(400px,1fr) auto auto auto;
    column-gap: 12px;

    padding-right: 36px;

    
}

header.page 
section.top 
 a{
    margin-right: 8px;
}


section.top
form#header 
input#search {
    width: min(88%, 600px);
    vertical-align: 8px;

    appearance: none;
    outline: none;
    border: 1px solid grey;
    padding: 5px 6px;
    border-radius: 20px;

    font-size: 1.2rem;
}

section.top
form#header 
input#search:focus {
    border: 1px solid #c07ae9;
    outline: 2px solid #c07ae9;
}

section.top
form#header 
button {
    appearance: none;
    border: none;
    background-color:  #823ab2;
}

section.top
form#header 
img.icon:active {
    filter: var(--whiteFilter);
    width: 26px;
    height: 26px;
}

header.page section.top img.icon {
    width: 28px;
    height: 28px;
    filter: var(--whiteFilter);
    margin-right: 8px;
}

header.page section.top img.icon:hover {
    filter: none;
}


header.page
section.bottom {
    display: grid;
    grid-template-columns: auto 1fr auto;
    

    place-items: center start;
    column-gap: 12px;
}

header.page 
section.bottom
img.user-avatar {
    width: 52px;
    height: 52px;
}
header.page 
section
img.user-avatar:hover {
    border-radius: 50%;
    box-shadow: 1px 1px 8px white;
}

header.page
section.bottom
p > strong {
    font-size: 1.8rem;
}

header.page
section.bottom 
ul {
    display: grid;
    grid-template-columns: auto auto auto;
}

header.page
section.bottom
button.post {
    appearance: none;
    padding: 8px 22px;
    border-radius: 20px;
    background-color: #CC8EAF;
    border: 2px solid;
    border-color: #FFE4D6 #F9B3B3 #F9B3B3 #FFE4D6;
    
    font-size: 1rem;
    font-weight: 600;
    color: white;
    
    margin: 0 18px;
}

header.page
section.bottom
button.post:hover {
    text-shadow: 1px 1px 8px #FFE4D6;
}

header.page
section.bottom
button.post:active {
    border-color: #F9B3B3 #FFE4D6 #FFE4D6 #F9B3B3;
}





  /* * * * * * * * * */
/* Main Section layout */
  /* * * * * * * * * */
main.page {
    background-color: #FFE4D6;
    color: #35425A;
    padding: 22px 0px;

    display: grid;
    grid-template-columns: 760px 300px;
    justify-content: space-evenly;

    column-gap: 22px;
}

main.page section {
    gap: 22px;
    padding: 22px;
}

main.page section.project {
    display: grid;
    grid-template-columns: auto auto;
}

section.project h3 {
    grid-column: 1 / -1;

}

main.page section div.cards {
    background-color: white;
    border-radius: 8px;
    padding: 16px;
}

section.project div.cards {
    width: 320px;
    height:176px;
    
    
    border-left: 8px solid #F9B3B3;
    box-shadow: 1px 1px 5px #F9B3B3;
}

main.page section div.cards:hover {
    box-shadow: 3px 3px 18px #F9B3B3;
}

div.project.cards {
    display: grid;
    align-content: space-between;
    justify-items: end;
}

section.project div.cards 
div img {
    height: 24px;
    width: 24px;
    margin: 0 8px;
    position: relative;
}

section.project div.cards 
div img:hover {
    filter: invert(92%) sepia(7%) saturate(4084%) hue-rotate(247deg) brightness(85%) contrast(85%);
}

div.project.cards div.react {
    width: 132px;
    height: 32px;
}

section.notice {
    display: grid;
}

section.notice div.cards div {
    padding: 12px 0;
}

div.cards div img.avatar {
    height: 46px;
    width: 46px;
    border: 2px solid #F9B3B3;
    border-radius: 50%;
}

section.notice div.announcement:nth-child(2),
section.notice div.announcement:nth-child(3){
 border-top: 1px solid rgb(223, 223, 223);
}

div.trend {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: start;
    align-items: center;
    column-gap: 8px;
}

div.trend img.avatar {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

div.trend p {
    font-size: 0.9rem;
    color: rgb(165, 165, 165);
}







